/* StAuth10244: I Timothy Mwangi, 000937691 certify that this material is my original work. No other person's work has been used without due acknowledgement. I have not made my work available to anyone else. */
*{
    font-size: medium;
}

#map {
    width: 90%;
    max-width: 1300px;
    height: 80vh;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.74);
    border-radius: 8px;
}

#filters .btn {
    flex: 1 1 auto;
}

.infoWindow {
    max-width: 300px; 
    font-family: 'Arial', sans-serif;
}

.infoWindow .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.infoWindow .card-text {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.infoWindow .badge {
    font-size: 0.8rem;
    padding: 0.5em 0.75em;
}

#addAddress, #directions, #filters, footer .container-fluid {
    max-width: 50em;
    width: 90%;
    margin: 0 auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.74);
}


#addAddress .form-label {
    font-weight: 500; 
}

#addAddress .btn {
    margin-top: 1rem; 
}

#ports {
    width: 95%; 
    margin: 10px 0; 
}

@media (max-width: 450px) {
    input, legend {
        font-size: medium;
    }
    h1, h2, h3, h4 {
        font-size: large;
    }

    #addAddress, #directions, #filters, footer {
        width: 90%;
        margin: 0 auto; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.74);
    }

    .form-label {
        font-size: medium;
    }
}